.swiper {
  perspective: 1200px;
}

.swiper-slide {
  transform-style: preserve-3d;
  transition: transform 0.6s ease;
  backface-visibility: hidden;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}
